<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h2>Bem-vindo, Matheus, à sua Área Protegida!</h2>
        <p>Este é o conteúdo exclusivo para usuários autenticados. Sua organização e método de trabalho são evidentes aqui!</p>
        <button class="logout-button" onclick="location.href='/logout'">Sair</button>
    </div>
</body>
</html>